%h1 Teachers#show
%p Find me in app/views/teachers/show.html.haml
%p  名前: #{@teacher.name}
%p  Eメール: #{@teacher.email}
%p=  "プロフイール: #{@tacher.profile}" if current_teacher.profile.present?

= link_to '編集', edit_teacher_registration_path
