!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MeetUpApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = link_to 'TOP', root_path

    - if admin_signed_in?
      = link_to 'ホーム', admins_path
      = link_to 'ログアウト(管理者)', destroy_admin_session_path, method: :delete
    - elsif teacher_signed_in? == false && student_signed_in? == false
      = link_to 'ログイン(管理者)', new_admin_session_path

    - if student_signed_in? 
      = link_to 'ホーム', student_homes_path
      = link_to 'マイレッスン', students_path
      = link_to 'マイページ(生徒用)', student_path(current_student)
      = link_to 'ログアウト(生徒用)', destroy_student_session_path, method: :delete
    - elsif teacher_signed_in? == false && admin_signed_in? == false
      = link_to 'ログイン(生徒用)', new_student_session_path

    - if teacher_signed_in?
      = link_to 'ホーム', teacher_homes_path
      = link_to 'マイレッスン', teachers_path
      = link_to 'ログアウト(講師用)', destroy_teacher_session_path, method: :delete
      = link_to 'マイページ(講師用)', teacher_path(current_teacher)
    - elsif student_signed_in? == false && admin_signed_in? == false
      = link_to 'ログイン(講師用)', new_teacher_session_path
    
    = notice
    = yield
